@using System.Globalization;

@if (Model != null)
{
    <div class="poker-card" style="@PositionStyle; background-image:url('@Model.ImageUrl');"></div>
}

@code {
    [Parameter] public PokerCardModel? Model { get; set; }



private string PositionStyle =>
    Model == null
        ? string.Empty
        : $"position:absolute;" +
          $"left:{Model.LeftPercent.ToString("F2", CultureInfo.InvariantCulture)}%; " +
          $"top:{Model.TopPercent.ToString("F2", CultureInfo.InvariantCulture)}%; " +
          $"width:{Model.WidthPercent.ToString("F2", CultureInfo.InvariantCulture)}%; " +
          $"height:{Model.HeightPercent.ToString("F2", CultureInfo.InvariantCulture)}%; " +
          "transform:translate(-50%, -50%);";

}
