
@if (Model != null)
{
    <div class="poker-card" style="background-image:url('@Model.ImageUrl'); display:@(Model.IsVisible? "block" : "none");)"></div>
}

@code {

    [Parameter] public PokerCardModel? Model { get; set; }
       
}
