.poker-card {
    cursor: pointer;
    position: absolute;
    z-index: 1; /* on top of table */
    background-size: contain; /* maintain card ratio */
    background-repeat: no-repeat;
    background-position: center;
}
