

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Main content stretches */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url('images/pokermainbackground.jpg');
    background-size: cover; /* cover the full area */
    background-position: center;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden; /* prevent internal scrollbars */
}

/* Sidebar styling */
.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    flex-shrink: 0;
}

/* Top row */
.top-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    height: 50px; /* Give it a visible height */
    flex-shrink: 0;
}

    .top-row ::deep a,
    .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .top-row ::deep a:hover,
        .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

/* Responsive adjustments */
@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a,
        .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px; /* Fixed sidebar width */
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
        }

}


/* Blazor error UI */
#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
