@page "/editable/"
@page "/editable/{Id:int}"

@inject NavigationManager nav
@inject TableService TableService
@inject IJSRuntime JS

<PageTitle>Edit Tables</PageTitle>

<div class="centered-content">
    <div class="header-wrapper">
        <h3 class="text-primary">Tisch erstellen / bearbeiten</h3>

        <br />

        @if (tableModel != null)
        {
            <EditForm Enhance="true"
                      Model="tableModel"
                      FormName="SubmitTableForm"
                      OnValidSubmit="OnSubmit">

                <DataAnnotationsValidator />

                <!-- Id -->
                <div class="form-row">
                    <label class="form-label text-white">Id</label>
                    <div class="form-field">
                        <InputNumber @bind-Value="tableModel.Id"
                                     class="form-control"
                                     readonly />
                    </div>
                </div>

                <!-- Name -->
                <div class="form-row">
                    <label class="form-label text-white">Name</label>
                    <div class="form-field">
                        <InputText @bind-Value="tableModel.Name"
                                   class="form-control" />

                        <ValidationMessage For="() => tableModel.Name" />
                        @if (!nameIsUnique)
                        {
                            <div class="text-danger">
                                Der Name existiert bereits.
                            </div>
                        }
                    </div>
                </div>

                <!-- Max Users -->
                <div class="form-row">
                    <label class="form-label text-white">Maximale Spieler</label>
                    <div class="form-field">
                        <InputNumber @bind-Value="tableModel.MaxUsers"
                                     class="form-control" />
                        <ValidationMessage For="() => tableModel.MaxUsers" />
                    </div>
                </div>

                <!-- Status -->
                <div class="form-row">
                    <label class="form-label text-white">Status</label>
                    <div class="form-field d-flex align-items-center">
                        <input type="checkbox" checked="@tableModel.IsActive" disabled/>
                    </div>
                </div>

                <br />

                <div class="button-row">
                    <button class="btn btn-primary" type="submit">Speichern</button>
                    <button type="button" class="btn btn-warning" @onclick="DeleteTable">Löschen</button>
                    <a href="/tables" class="btn btn-primary">Close</a>
                </div>

            </EditForm>
        }
    </div>
</div>



@code {

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm(FormName = "SubmitTableForm")]
    private TableModel? tableModel { get; set; }

    private bool nameIsUnique = true;

    protected override async Task OnInitializedAsync()
    {
        if (tableModel == null)
        {
            tableModel = await TableService.GetTableByIdAsync(Id);

            if (tableModel == null)
                tableModel = await TableService.CreateNewTableAsync();
        }
    }

    private async Task OnSubmit()
    {
        if (tableModel == null)
            return;

        //check for a unique name
        nameIsUnique = await TableService.IsTableNameUniqueAsync(tableModel.Id, tableModel.Name);

        if (!nameIsUnique)
            return;

        await TableService.SaveTableAsync(tableModel);
        nav.NavigateTo("/tables");
    }

    private async Task DeleteTable()
    {
        if (tableModel == null)
            return;

        bool confirmed = await JS.InvokeAsync<bool>("confirm", $"Tisch '{tableModel.Name}' wirklich löschen?");
        if (!confirmed)
            return;

        await TableService.DeleteTableAsync(tableModel);
        nav.NavigateTo("/tables");
    }

}

