@page "/editable/"
@page "/editable/{Id:int}"

@inject NavigationManager nav
@inject TableService TableService
@inject IJSRuntime JS

<PageTitle>Edit Tables</PageTitle>

<div class="centered-content">
    <div class="header-wrapper">
        <h3 class="text-primary">Tisch bearbeiten</h3>

        <br />

        @if (tableModel != null)
        {
            <EditForm Enhance="true"
                      Model="tableModel"
                      FormName="SubmitTableForm"
                      OnValidSubmit="OnSubmit">

                <DataAnnotationsValidator />

                <!-- Id -->
                <div class="form-row">
                    <label class="form-label text-white">Id</label>
                    <div class="form-field">
                        <InputNumber @bind-Value="tableModel.Id"
                                     class="form-control"
                                     readonly />
                    </div>
                </div>

                <br />

                <div class="form-row">
                    <label class="form-label text-white">Name</label>
                    <div class="form-field">
                        <InputText @bind-Value="tableModel.Name" class="form-control" />

                        <ValidationMessage For="() => tableModel.Name" />
                        @if (!nameIsUnique)
                        {
                            <div class="text-danger">
                                Der Name existiert bereits.
                            </div>
                        }
                    </div>                          
                </div>
                <br />
                <div class="form-row">
                   <label class="form-label text-white">Pflichteinsatz (Ante)</label>
                    <div class="form-field">
                        <InputNumber @bind-Value="tableModel.Ante" class="form-control" />
                        <ValidationMessage For="() => tableModel.Ante" />              
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <label class="form-label text-white">SmallBlind</label>
                    <div class="form-field">
                        <InputNumber @bind-Value="tableModel.SmallBlind" class="form-control" />
                        <ValidationMessage For="() => tableModel.SmallBlind" />              
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <label class="form-label text-white">BigBlind</label>
                    <div class="form-field">
                        <InputNumber @bind-Value="tableModel.BigBlind" class="form-control" />
                        <ValidationMessage For="() => tableModel.BigBlind" />              
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <label class="form-label text-white">MinBet</label>
                    <div class="form-field">
                        <InputNumber @bind-Value="tableModel.MinBet" class="form-control" />
                        <ValidationMessage For="() => tableModel.MinBet" />              
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <label class="form-label text-white">MaxBet</label>
                    <div class="form-field">
                        <InputNumber @bind-Value="tableModel.MaxBet" class="form-control" />
                        <ValidationMessage For="() => tableModel.MaxBet" />              
                    </div>   
                </div>   
                <br />
                <div class="button-row">
                    <button class="btn btn-primary" type="submit">Speichern</button>
                    <button class="btn btn-warning" @onclick="DeleteTable">Löschen</button>
                    <button class="btn btn-primary" @onclick="Close">Close</button>
                </div>

            </EditForm>
        }
    </div>
</div>

<MessageBox @ref="msgBox" />


@code {
    private MessageBox? msgBox;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm(FormName = "SubmitTableForm")]
    private TableModel? tableModel { get; set; }

    private bool nameIsUnique = true;

    protected override async Task OnInitializedAsync()
    {
        if (tableModel == null)
        {
            tableModel = await TableService.GetTableByIdAsync(Id);

            if (tableModel == null)
                tableModel = await TableService.CreateNewTableAsync();
        }
    }

    private async Task OnSubmit()
    {
        if (tableModel == null ||msgBox == null)
            return;

        //check for a unique name
        nameIsUnique = await TableService.IsTableNameUniqueAsync(tableModel.Id, tableModel.Name);

        if (!nameIsUnique)
            return;

        if ((tableModel.SmallBlind == 0) ^ (tableModel.BigBlind == 0))
        {
            tableModel.SmallBlind = 0;
            tableModel.BigBlind = 0;

            await msgBox.ShowAsync(
                "Ungültige Blinds",
                "Small Blind und Big Blind müssen entweder beide 0 sein oder beide größer als 0.\n" +
                "Eine Mischung aus 0 und einem Wert > 0 ist nicht zulässig.\n\n" +
                "Beide Werte wurden auf 0 gesetzt!"
            );        
        }

        await TableService.SaveTableAsync(tableModel);
        nav.NavigateTo(nav.BaseUri + "tables");
    }

    private async Task DeleteTable()
    {
        if (tableModel == null)
            return;

        bool confirmed = await JS.InvokeAsync<bool>("confirm", $"Tisch '{tableModel.Name}' wirklich löschen?");
        if (!confirmed)
            return;

        await TableService.DeleteTableAsync(tableModel);
        nav.NavigateTo(nav.BaseUri + "tables");
    }

    private async Task Close()
    {
       nav.NavigateTo(nav.BaseUri + "tables");
    }

}

