@page "/editable/"
@page "/editable/{Id:int}"

@inject NavigationManager nav
@inject TableService TableService
@inject IJSRuntime JS

<h3>Tisch erstellen / bearbeiten</h3>

<br />

@if (tableModel != null)
{
    <EditForm Enhance="true" Model="tableModel" FormName="SubmitTableForm" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Id:</label>
            </div>
            <div class="col-6">
                <InputNumber @bind-Value="tableModel.Id" class="form-control" readonly />
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Name:</label>
            </div>
            <div class="col-6">
                <InputText @bind-Value="tableModel.Name" class="form-control" />
            </div>
            <div class="col d-flex align-items-center">
                <div>
                    <ValidationMessage For="() => tableModel.Name" />
                    @if (!nameIsUnique)
                    {
                        <div class="text-danger">
                            Der Name existiert bereits.
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Maximale Spieler:</label>
            </div>
            <div class="col-6">
                <InputNumber @bind-Value="tableModel.MaxUsers" class="form-control" />
            </div>
            <div class="col">
                <ValidationMessage For="() => tableModel.MaxUsers" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Status:</label>
            </div>
            <div class="col-6 d-flex align-items-center">
                <input type="checkbox" checked="@tableModel.IsActive" />
            </div>
        </div>

        <br />
        <button class="btn btn-primary" type="submit">Speichern</button>
        &nbsp;
        <button type="button" class="btn btn-warning" @onclick="DeleteTable">Löschen</button>
        &nbsp;
        <a href="/tables" class="btn btn-primary">Close</a>
    </EditForm>
}


@code {

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm(FormName = "SubmitTableForm")]
    private TableModel? tableModel { get; set; }

    private bool nameIsUnique = true;

    protected override async Task OnInitializedAsync()
    {
        if (tableModel == null)
        {
            tableModel = await TableService.GetTableByIdAsync(Id);

            if (tableModel == null)
                tableModel = await TableService.CreateNewTableAsync();
        }
    }

    private async Task OnSubmit()
    {
        if (tableModel == null)
            return;

        //check for a unique name
        nameIsUnique = await TableService.IsTableNameUniqueAsync(tableModel.Id, tableModel.Name);

        if (!nameIsUnique)
            return;
     
        await TableService.SaveTableAsync(tableModel);
        nav.NavigateTo("/tables");
    }

    private async Task DeleteTable()
    {
        if (tableModel == null)
            return;

        bool confirmed = await JS.InvokeAsync<bool>("confirm", $"Tisch '{tableModel.Name}' wirklich löschen?");
        if (!confirmed)
            return;

        await TableService.DeleteTableAsync(tableModel);
        nav.NavigateTo("/tables");
    }

}

