/* Full height wrapper */
.gametable-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 37px);
    margin: 0rem;
    background-image: url('/images/pokertable.svg');
    background-size: 70% auto;
    background-position: center;
    background-repeat: no-repeat;
}


