@page "/joingametable/{Id:int}"

@inject NavigationManager nav
@inject IJSRuntime JS

<PageTitle>Game Table</PageTitle>

<div class="centered-content">
    <div class="header-wrapper">
        <h2 class="text-primary">Spieltisch juhu</h2>
    </div>
</div>




@code {

    [Parameter]
    public int Id { get; set; }
      
}

