@page "/joingametable/{Id:int}"

@inject CardTemplateProvider CardProvider
@inject NavigationManager nav
@inject IJSRuntime JS


<PageTitle>Game Table</PageTitle>

<div class="gametable-wrapper" @ref="TableRef">
    @foreach (var cardModel in allCardModels)
    {
        <PokerCard Model="cardModel"/>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private ElementReference TableRef;
    private DotNetObjectReference<GameTable>? dotNetRef;

    private List<PokerCardModel> allCardModels = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // initial cards and sizing sizing           
            DomRect tableSize = await JS.InvokeAsync<DomRect>("getElementSize", TableRef);

            allCardModels = Enum.GetValues<EnumCardSuit>()
                .SelectMany(suit =>
                    Enum.GetValues<EnumCardRank>()
                        .Select(rank =>
                        {
                            var model = new PokerCardModel(CardProvider);
                            model.Init(suit, rank, true);
                            return model;
                        }))
                .ToList();                           

            // register resize callback for all cards  
            dotNetRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("registerResizeHandler", dotNetRef);

            //Update all Cards one time
            await OnWindowResize();
        }
    }

    [JSInvokable]
    public async Task OnWindowResize()
    {
        DomRect tableSize = await JS.InvokeAsync<DomRect>("getElementSize", TableRef);

        const int columns = 13;
        const int rows = 4;

        for (int i = 0; i < allCardModels.Count; i++)
        {
            int column = i % columns;
            int row = i / columns;

            allCardModels[i].Update(tableSize, column, row, columns, rows);
        }

        StateHasChanged();
    }




    public async ValueTask DisposeAsync()
    {
        dotNetRef?.Dispose();
    }

}


