@page "/joingametable/{Id:int}"

@inject CardProvider CardProvider
@inject NavigationManager nav
@inject IJSRuntime JS

<PageTitle>Game Table</PageTitle>

<div class="gametable-wrapper">
    <img class="gametable-image"
         src="/images/pokertable.svg"
         @ref="TableImageRef" />

    @foreach (var cardModel in allCardModels)
    {
        <PokerCard Model="cardModel" />
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private ElementReference TableImageRef;
    private DotNetObjectReference<GameTable>? dotNetRef;

    private List<PokerCardModel> allCardModels = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        // Create cards once
        allCardModels = Enum.GetValues<EnumCardSuit>()
            .SelectMany(suit =>
                Enum.GetValues<EnumCardRank>()
                    .Select(rank =>
                    {
                        var model = new PokerCardModel(CardProvider);
                        model.Init(suit, rank, true);
                        return model;
                    }))
            .ToList();

        // Wait until SVG image is really rendered
        await WaitForTableImage();

        // Register resize callback
        dotNetRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("registerResizeHandler", dotNetRef);

        // Initial layout
        await OnWindowResize();
    }

    private async Task WaitForTableImage()
    {
        DomRect rect;

        do
        {
            await Task.Delay(50);
            rect = await JS.InvokeAsync<DomRect>(
                "getRenderedImageRect",
                TableImageRef);
        }
        while (rect.Width == 0 || rect.Height == 0);
    }

    [JSInvokable]
    public async Task OnWindowResize()
    {
        DomRect tableRect = await JS.InvokeAsync<DomRect>(
            "getRenderedImageRect",
            TableImageRef);

        if (tableRect.Width == 0 || tableRect.Height == 0)
            return;

        // TEST: place community Cards
        allCardModels[0].UpdateForTableLayout(tableRect, EnumCardPositions.Flop1, true);
        allCardModels[1].UpdateForTableLayout(tableRect, EnumCardPositions.Flop2, true);
        allCardModels[2].UpdateForTableLayout(tableRect, EnumCardPositions.Flop3, true);
        allCardModels[3].UpdateForTableLayout(tableRect, EnumCardPositions.Turn, true);
        allCardModels[4].UpdateForTableLayout(tableRect, EnumCardPositions.River, true);
        

        // Later: loop all cards here

        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        dotNetRef?.Dispose();
    }
}
