@page "/joingametable/{Id:int}"

@inject CardProvider CardProvider
@inject NavigationManager nav
@inject IJSRuntime JS

<PageTitle>Game Table</PageTitle>

<div class="gametable-wrapper">

    <object id="svgObj" data="images/pokertable.svg" type="image/svg+xml" @ref="TableImageRef"></object>

    @foreach (var cardModel in allCardModels)
    {
        <PokerCard Model="cardModel" />
    }

</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private ElementReference TableImageRef;
    private DotNetObjectReference<GameTable>? dotNetRef;

    private List<PokerCardModel> allCardModels = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        // Create cards once
        allCardModels = Enum.GetValues<EnumCardSuit>()
            .SelectMany(suit =>
                Enum.GetValues<EnumCardRank>()
                    .Select(rank =>
                    {
                        var model = new PokerCardModel(CardProvider);
                        model.Init(suit, rank, true);
                        return model;
                    }))
            .ToList();
               
        // Register resize callback
        dotNetRef = DotNetObjectReference.Create(this);

        // Register SVG load callback
        await JS.InvokeVoidAsync(
            "registerSvgLoadCallback",
            TableImageRef,
            dotNetRef
        );

        // Initial layout
        await OnWindowResize();
    }
      

    private static readonly string[] CardElementIds =
        {
            "f1", "f2", "f3", "turn", "river",
            "p11","p12","p21","p22","p31","p32",
            "p41","p42","p51","p52","p61","p62",
            "p71","p72","p81","p82"
        };

    [JSInvokable]
    public async Task OnSvgLoaded()
    {
        // Register resize AFTER SVG exists
        await JS.InvokeVoidAsync(
            "registerResizeHandler",
            dotNetRef
        );

        // Initial layout pass
        await OnWindowResize();
    }

    [JSInvokable]
    public async Task OnWindowResize()
    {
        var rects = await JS.InvokeAsync<Dictionary<string, DomRect>>(
                "getSvgElementRects",
                TableImageRef,
                CardElementIds
            );

        // if (tableRect.Width == 0 || tableRect.Height == 0)
        //     return;

        // // TEST: place community Cards
        // allCardModels[0].UpdateForTableLayout(tableRect, EnumCardPositions.Flop1, true);
        // allCardModels[1].UpdateForTableLayout(tableRect, EnumCardPositions.Flop2, true);
        // allCardModels[2].UpdateForTableLayout(tableRect, EnumCardPositions.Flop3, true);
        // allCardModels[3].UpdateForTableLayout(tableRect, EnumCardPositions.Turn, true);
        // allCardModels[4].UpdateForTableLayout(tableRect, EnumCardPositions.River, true);
        

        // Later: loop all cards here

        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        dotNetRef?.Dispose();
    }
}
