@page "/"
@inject NavigationManager nav

<PageTitle>Home</PageTitle>

<div class="centered-content">
    <div class="header-wrapper">
        <h2 class="text-primary">Poker at Ompfabau</h2>
        <br/>
        <button class="btn btn-primary" @onclick="Start">Start</button>
    </div>
</div>

@code{

    private async Task Start()
    {
        nav.NavigateTo(nav.BaseUri + "tables");
    }

}


