@page "/settable"
@page "/settable/{Id:guid}"

@inject NavigationManager nav
@inject TableService TableService

<h3>Tisch erstellen / bearbeiten</h3>

<br />

@if (tableModel != null)
{
    <EditForm Model="tableModel" FormName="SubmitTableForm" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />

        <input type="hidden" name="Id" value="@tableModel.Id" />

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Name:</label>
            </div>
            <div class="col-6">
                <InputText @bind-Value="tableModel.Name" class="form-control" />
            </div>
            <div class="col d-flex align-items-center">
                <div>
                    <ValidationMessage For="() => tableModel.Name" />
                    @if (!nameIsUnique)
                    {
                        <div class="text-danger">
                            Der Name existiert bereits.
                        </div>
                    }
                </div>
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Maximale Spieler:</label>
            </div>
            <div class="col-6">
                <InputNumber @bind-Value="tableModel.MaxUsers" class="form-control" />
            </div>
            <div class="col">
                <ValidationMessage For="() => tableModel.MaxUsers" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Status:</label>
            </div>
            <div class="col-6">
                <input type="checkbox" checked="@tableModel.IsActive" disabled />
            </div>
        </div>

        <br />
        <button class="btn btn-primary" type="submit">Speichern</button>
        &nbsp;
        <a href="/tables" class="btn btn-primary">Close</a>
    </EditForm>
}


@code {

    [Parameter]
    public Guid Id { get; set; }

    [SupplyParameterFromForm(FormName = "SubmitTableForm")]
    private TableModel? tableModel { get; set; }

    private bool nameIsUnique = true;

    protected override async Task OnInitializedAsync()
    {
        if (tableModel != null)
            return;

        if (Id == Guid.Empty)
        {
            tableModel = TableService.CreateNewTable();
            Id = tableModel.Id;
        }
        else
        {
            tableModel = await TableService.GetTableByIdAsync(Id);
            if (tableModel != null)
                Id = tableModel.Id;
        }
    }

    private async Task OnSubmit()
    {
        if (tableModel == null)
            return;

        //check for a unique name
        nameIsUnique = await TableService.IsTableNameUniqueAsync(tableModel.Name);

        if (!nameIsUnique)
            return;

        await TableService.SaveTableAsync(tableModel);
        nav.NavigateTo("/tables");
    }
}

