/* Full height wrapper */
.page-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 37px);
    margin: 1rem;
    background-color: rgba(0,0,0,0.85);
    border: 2px solid var(--bs-primary);
    border-radius: 15px;
    padding: 2rem;
}

.header-wrapper {
    text-align: center;
}


.button-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0 2rem 0;
    flex-wrap: wrap;
}

    .button-row .btn {
        width: 12rem;
    }

.button-table {
    min-width: 5.5rem;
}

@media (max-width: 576px) {
    .page-wrapper {
        margin: 0.0rem;
        padding: 0.5rem;
        border-radius: 1rem;
    }
}

@media (max-width: 576px) and (orientation: portrait) {
    .hide-mobile {
        display: none !important;
    }
}




.table-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Make table header sticky */
.table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #212529; /* dark background to match Bootstrap */
    color: white;
}

/* Optional: remove visual jitter */
.table {
    border-collapse: separate;
    border-spacing: 0;
}
